.partners__logos_company_ikea {
  background-image: url(../../../../../images/logo/__web/logo__web_ikea.png);
  background-repeat: no-repeat;
  background-position: center;   
}

@media screen and (max-width: 1439px) {
  .partners__logos_company_ikea {
    background-image: url(../../../../../images/logo/__tab/logo__tab_ikea.png);
}
}
@media screen and (max-width: 767px) {
  .partners__logos_company_ikea {
      background-image: url(../../../../../images/logo/__mobile/logo__mobile_ikea.png);
  }
}