.partners__logos_company_reebok{
  background-image: url(../../../../../images/logo/__web/logo__web_reebok.png);
  background-repeat: no-repeat;
  background-position: center;   
}

@media screen and (max-width: 1439px) {
  .partners__logos_company_reebok {
    background-image: url(../../../../../images/logo/__tab/logo__tab_reebok.png);
}
}
@media screen and (max-width: 767px) {
  .partners__logos_company_reebok {
      background-image: url(../../../../../images/logo/__mobile/logo__mobile_reebok.png);
  }
}